<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmail - Inbox Details</title>
    <link rel="stylesheet" href="/style1.css">

</head>

<body>

    <nav>
        <h4>My Dmail</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/inboxPage">Inbox</a></li>
            <li><a href="/outBoxPage">OutBox</a></li>
            <li><a href="/composePage">Compose</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <main>
        <h1>Details</h1>
        <ul>
            <li>
                <strong>From: <%= email.sender_name %> &lt;<%= email.sender_email %>&gt;</strong>
                <p>Title: <%= email.title %>
                </p>
                <p>Message: <%= email.mes_body %>
                </p>
            </li>
        </ul>
    </main>

</body>

</html>